h1 {
  color: red;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;  
}
h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 30px;
  line-height: 30px;
}

p {
  color: blue;
  font-weight: bold;
  font-size: 18px;
}
body {
  background-color: aqua;
}
ul {
  line-height: 30px;
}